@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  flex: 1;
  min-height: 100vh;
  min-width: 300px;
  text-align: left;
  display: flex;
  flex-flow: column;
  font-family: 'Montserrat', sans-serif;
  color: #444444;
  font-size: 14px;
}

.post-grid {
  margin-top: 20px;
  flex: 1;
  position: relative;
}

.loadingSpinner {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 12px 7px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
